/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

$white: #fff;
$lightGray: #cccccc;
$darkGray: #666666;
$lightBlack: #292929;
$darkBlack: #141414;
$darkOrange: #b02e0c;
$lightOrange: #eb4511;
