/* -------------------------------------------------------------------------- */

/*                                   COLORS                                   */

/* -------------------------------------------------------------------------- */

$white: rgb(255, 255, 255);
$lightGray: #cccccc;
$darkGray: #666666;
$darkerGray: #333333;
$lightBlack: #222222;
$darkBlack: #131313;
$darkOrange: #b02e0c;
$lightOrange: #eb4511;

/* -------------------------------------------------------------------------- */

/*                                    FONTS                                   */

/* -------------------------------------------------------------------------- */
$mainFont: "Poppins", sans-serif;
$secondaryFont: "Montserrat", sans-serif;
$font-S: 1.4rem;
$font-M: 1.6rem;
$font-L: 1.8rem;
$font-XL: 2.2rem;
$font-XXL: 2.6rem;
$light: 200;
$semiLight: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
