/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

$white: #fff;
$lightGray: #cccccc;
$darkGray: #666666;
$lightBlack: #222222;
$darkBlack: #131313;
$darkOrange: #b02e0c;
$lightOrange: #eb4511;

/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */

$mainFont: "Montserrat", sans-serif;
$secondaryFont: "Poppins", sans-serif;

$font-S: 1.4rem;
$font-M: 1.6rem;
$font-L: 1.8rem;
$font-XL: 2.2rem;

$light: 300;
$regular: 400;
$bold: 700;
